@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

@font-face {
	font-family: planet;
	src: url(../fonts/planet.ttf);
	font-weight: normal;
	font-style: normal;
	font-size: 3em;
}

html,
body {
	margin: 0;
	scroll-behavior: smooth;
	background-color: black;
	color: white;
	max-width: 100%;
	overflow-x: hidden;
}

header {
	background-color: black;
	color: white;
	font-family: "Mulish", sans-serif;
	font-size: 1em;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1% 5%;
}

footer {
	display: flex;
	justify-content: space-between;
}

p {
	font-family: "Mulish", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 1em;
	letter-spacing: 0.185em;
}

.scroll_to_top {
	position: fixed;
	width: 70px;
	bottom: 20px;
	right: 20px;
}

/* Titulos (h2) */

h2 {
	font-family: planet;
	font-size: 3em;
	letter-spacing: 0.05em;
}

h3 {
	display: flex;
	justify-content: center;
	font-family: Mulish;
}

/* Navbar */

.logo-nav {
	cursor: pointer;
}

.nav__links {
	list-style: none;
	text-decoration: none;
}

.nav__links li {
	display: inline-block;
	padding: 0 4em 0 0;
}

.nav__links li a {
	text-decoration: none;
	color: white;
}

/* Hero */
#hero {
	margin-top: 3%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.hero {
	display: flex;
	justify-content: space-around;
}

.hero__chan {
	height: 48em;
}

.hero__logo {
	width: 60em;
}

.hero__text {
	margin-left: 15%;
	width: 51em;
	height: 3em;
}

.boton__verdesigns {
	margin-left: 15%;
	margin-top: 2%;
	display: grid;
	height: 3em;
	width: 10em;
	background-color: #ffffff;
	place-items: center;
	font-family: "Mulish", sans-serif;
	color: #000000;
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 0.185em;
	text-decoration: none;
	border-radius: 0.438em;
	-webkit-transition: 0.3s all ease-in;
	transition: 0.3s all ease-in;
}

.boton__verdesigns:hover {
	background-color: #000000;
	color: #ffffff;
}

.hero__logotext {
	display: flex;
	justify-content: right;
	flex-direction: column;
	margin-top: 4%;
}

/* Nosotros */

#nosotros {
	margin: auto;
}

/* Contacto */

#contacto {
	margin: auto;
}

/* Footer */

/* Designs */

.designs__titulo {
	display: flex;
	justify-content: center;
}

.designs__rowtop {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.designs__rowbottom {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
