@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

@font-face {
	font-family: planet;
	src: url(../fonts/planet.ttf);
	font-weight: normal;
	font-style: normal;
	font-size: 3em;
}

html,
body {
	margin: 0;
	scroll-behavior: smooth;
	background-color: #000000;
	color: #ffffff;
	max-width: 100%;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	background: black;
	width: 10px;
}

body::-webkit-scrollbar-thumb {
	background: rgb(102, 102, 102);
	border-radius: 10px;
}

header {
	background-color: #000000;
	color: #ffffff;
	font-family: "Mulish", sans-serif;
	font-size: 1em;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1% 5%;
}

p {
	font-family: "Mulish", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 1em;
	letter-spacing: 0.185em;
}

.scroll_to_top {
	position: fixed;
	width: 70px;
	bottom: 60px;
	right: 20px;
}

/* Titulos (h2) */

h2 {
	font-family: planet;
	font-size: 3em;
	letter-spacing: 0.05em;
}

h3 {
	display: flex;
	justify-content: center;
	font-family: Mulish;
}

/* Navbar */

.logo-nav {
	cursor: pointer;
}

.nav__links {
	list-style: none;
	text-decoration: none;
}

.nav__links li {
	display: inline-block;
	padding: 0 4em 0 0;
}

.nav__links li a {
	text-decoration: none;
	color: #ffffff;
}

/* Hero */
#hero {
	margin-top: 3%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100vw;
	height: 100vh;
}

.hero {
	display: flex;
	justify-content: space-around;
}

.hero__chan {
	height: 48em;
}

.hero__logo {
	width: 60em;
}

.hero__text {
	margin-left: 15%;
	width: 51em;
	height: 3em;
}

.boton__verdesigns {
	margin-left: 15%;
	margin-top: 2%;
	height: 3em;
	width: 10em;
	text-align: center;
	justify-content: center;
	font-weight: bold;
	outline: none;
	display: flex;
	flex-direction: column;
	text-decoration: none;
	border: solid 1px;
	font-size: 1em;
	line-height: 1;
	border-radius: 7px;
	background-color: #000000;
	color: #ffffff;
	cursor: pointer;
	transition: all 0.3s linear;
	font-family: "Mulish", sans-serif;
}

.boton__verdesigns:hover,
.boton__verdesigns:focus {
	background-color: #ffffff;
	color: #000000;
}

.boton__verdesigns:active {
	background-color: #000000;
	color: #ffffff;
}

.hero__logotext {
	display: flex;
	justify-content: right;
	flex-direction: column;
	margin-top: 4%;
}

/* Nosotros */

#nosotros {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background-color: #090909;
	width: 100vw;
	height: 100vh;
}

.nosotros__textcontainer {
	display: flex;
	flex-direction: column;
}

.nosotros__text {
	width: 31em;
	height: 7em;
}

.nosotros__chan {
	height: 55em;
}

/* Contacto */

#contacto {
	margin: auto;
	font-family: "Mulish", sans-serif;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100vw;
	height: 100vh;
}

.contacto__chan--container {
	height: 59em;
	display: flex;
	align-items: center;
	margin-left: 20%;
}

.contacto__chan {
	height: 50em;
}

.form__container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-right: 20%;
}

.contacto__title {
	align-items: center;
	margin: auto;
}

.contacto__container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 1.5em;
	width: 20em;
}

.contacto__texto {
	background-color: #101010;
	font-family: "Mulish", sans-serif;
	width: 100%;
	padding: 12px;
	color: #ffffff;
	border: 0;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: none;
}

.textarea {
	height: 15em;
}

.contacto__boton {
	width: 100%;
	height: 50px;
	display: block;
	color: #000000;
	background-color: #ffffff;
	border: none;
	border-radius: 7px;
	font-family: "Mulish", sans-serif;
	font-weight: bold;
	font-size: 1em;
	cursor: pointer;
}

/* Footer */

footer {
	padding-left: 3em;
	padding-right: 3em;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: #808080;
	background-color: #090909;
	font-family: "Mulish", sans-serif;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.footer__text--container {
	margin-right: auto;
}
.footer__text--links {
	margin-right: 1em;
}

.footer__links {
	padding: 0;
	padding-right: 4.5%;
	list-style: none;
}

.footer__links li {
	align-content: center;
	display: inline-block;
}

.footer__links li a {
	padding-right: 1em;
	padding-left: 1em;

	text-decoration: none;
}

.footer__links img {
	height: 1em;
	width: 1em;
}

/* Designs */

.designs__titulo {
	display: flex;
	justify-content: center;
}

.grid__remeras {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	justify-items: center;
	align-items: center;
	margin-bottom: 3%;
}

/* Paginas remeras */

.titulo-remeras {
	display: flex;
	justify-content: space-around;
}

.grid-container {
	margin: 0;
	display: grid;
	justify-content: center;
	height: 85vh;
	grid-template-rows: 45em;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: "remera texto noroi";
}

.text-container {
	grid-area: texto;
	display: inline-block;
	text-align: center;
}

.boton-remeras {
	display: inline-block;
	justify-content: center;
	font-family: "Mulish", sans-serif;
	font-weight: bold;
	color: black;
	margin-top: 15%;
	background: white;
	padding: 15px 30px;
	border: rgb(255, 255, 255) 1px solid;
	border-radius: 7px;
	text-decoration: none;
}

.text-remeras {
	text-align: center;
	line-height: 1.4rem;
	margin-top: 20%;
}

.remera-imagen {
	height: 60%;
	grid-area: remera;
	margin-left: auto;
	margin-right: auto;
}

.noroi-imagen {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	grid-area: noroi;
}
